<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="KafkaAppender" type="Log4NetKafkaAppender.KafkaAppender, Log4NetKafkaAppender">
      <brokers>
        <add value="http://qa.kafka:9092" />
      </brokers>
      <topic>User2</topic>
      <waitForAsync>true</waitForAsync>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="{ &quot;domain&quot;: &quot;%appdomain&quot;, &quot;date&quot;: &quot;%date&quot;, &quot;level&quot;: &quot;%-5level&quot;, &quot;message&quot;: &quot;%message&quot; }" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="KafkaAppender" />
    </root>
  </log4net>
</configuration>